    <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /sol/

        # Rewrite rule for http://localhost/sol/index
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^([^\.]+)$ $1.php [NC,L]

        RewriteRule ^faculty25671/dashboard/dashboard$ faculty25671/dashboard/dashboard.php [NC,L]
        # Rewrite rule for http://localhost/sol/admin/dashboard/dashboard
        RewriteRule ^admin124106/dashboard/dashboard$ admin124106/dashboard/dashboard.php [NC,L]

        # Rewrite rule for http://localhost/sol/admin/student/student
        RewriteRule ^admin124106/student/student$ admin124106/student/student.php [NC,L]

        # Rewrite rule for http://localhost/sol/admin/subject/subject
        RewriteRule ^admin124106/subject/subject$ admin124106/subject/subject.php [NC,L]

        RewriteRule ^admin124106/analytic/analysis$ admin124106/analytic/analysis.php [NC,L]

        # <FilesMatch "\.php$">
        # Order Deny,Allow
        # Deny from all
        # </FilesMatch>

    </IfModule>
